<!DOCTYPE html>
<html xmlns:th="http://www.thmeleaf.org">
<head>
<meta charset="UTF-8"/>
<title th:text="#{confirm.title}">問い合わせフォーム：確認x</title>
</head>
<body>
  <h1 th:text="#{confirm.h1}">お問い合わせフォーム：確認(日本語)x</h1>
  <form id="inquiryForm" th:action="@{/inquiry/}" th:object="${inquiryForm}" method="post">
    <dl>
      <dd th:text="*{name}"></dd>
      <dd th:text="*{email}"></dd>
      <dd th:text="*{type}"></dd>
      <dd th:text="*{content}"></dd>
      <dd th:text="*{pref}"></dd>
      <dd th:text="*{city}"></dd>
      <dd>
        <input type="submit" id="back" name="goToInput" th:value="#{back.button}"/>
        <input type="submit" id="send" name="send" th:value="#{send.button}"/>
      </dd>
    </dl>

    <input type="hidden" id="name" th:field="*{name}" name="name"/>
    <input type="hidden" id="email" th:field="*{email}" name="email"/>
    <input type="hidden" id="type" th:field="*{type}" name="type"/>
    <input type="hidden" id="content" th:field="*{content}" name="content"/>
    <input type="hidden" id="pref" th:field="*{pref}" name="pref"/>
    <input type="hidden" id="city" th:field="*{city}" name="city"/>
  </form>
</body>
</html>
