<!DOCTYPE html>
<html xmlns:th="http://www.thmeleaf.org" 
      th:with="lang=${#locale.language}"
      th:lang="${lang}">

<head>
<meta charset="UTF-8"/>
<title th:text="#{input-page.title}">サンプルタイトルx</title>
<link rel="stylesheet" type="text/css" href="../../static/css/app.css" th:href="@{/css/app.css}"/>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="../../static/js/app.js" th:src="@{/js/app.js}" ></script>


</head>
<body>

  <div id="langselect">
    <a href="input.html?lang=ja" th:href="@{/inquiry?lang=ja}" th:class="${lang} == 'ja' ? 'active'">日本語</a>　
    <a href="input.html?lang=en" th:href="@{/inquiry?lang=en}" th:class="${lang} == 'en' ? 'active'">Engulish</a>　
    <a href="input.html?lang=zh" th:href="@{/inquiry?lang=zh}" th:class="${lang} == 'zh' ? 'active'">中文</a>　
    <a href="input.html?lang=ko" th:href="@{/inquiry?lang=ko}" th:class="${lang} == 'ko' ? 'active'">한국어 </a>　
    <a href="input.html?lang=fr" th:href="@{/inquiry?lang=fr}" th:class="${lang} == 'fr' ? 'active'">Français</a>　
    <a href="input.html?lang=es" th:href="@{/inquiry?lang=es}" th:class="${lang} == 'es' ? 'active'">Español</a>
  </div>
  <h1 th:text="#{input-page.h1}">お問い合わせフォーム：入力(日本語)x</h1>
  <form th:action="@{/inquiry}" th:object="${inquiryForm}" method="post">
    <dl>
    <dd><label for="name" th:text="#{name.label}">お名前x</label></dd>
    <dd>
        <input type="text" id="name" name="name" th:field="*{name}" th:errorclass="error-input" value="山田　太郎" />
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error-messages">error!</span>
    </dd>
    <dd><label for="phonenumber" th:text="#{phonenumber.label}">電話番号x</label></dd>
    <dd>
        <input type="tel" id="phonenumber" name="phonenumber" th:field="*{phonenumber}" th:errorclass="error-input" value="03123456789" />
        <span th:if="${#fields.hasErrors('phonenumber')}" th:errors="*{phonenumber}" class="error-messages">error!</span>
    </dd>

    <dd><label for="inputfemail" th:text="#{email.label}">eメールアドレスx</label></dd>
    <dd>
        <input type="email" id="inputfemail" name="email" th:field="*{email}" th:errorclass="error-input" value="test@test.co.jp" />
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error-messages">error!</span>
    </dd>

    
    <dd><label for="confirmEmail" th:text="#{confirmEmail.label}">eメールアドレスx</label></dd>
    <dd>
        <input type="email" id="confirmEmail" name="confirmEmail" th:field="*{confirmEmail}" th:errorclass="error-input" value="test@test.co.jp" />
        <span th:if="${#fields.hasErrors('confirmEmail')}" th:errors="*{confirmEmail}" class="error-messages">error!</span>
    </dd>
    
    <dd><label th:text="#{type.label}">項目x</label></dd>
    <dd><select id="type" name="type" th:field="*{type}" th:errorclass="error-input" >
          <option value="">---</option>
          <option th:each="type : ${T(com.example.Constant).getInstance().type_map.entrySet()}"
                  th:value="${type.getKey()}" value="dummy1"
                  th:text="${type.getValue()}">サンプル項目</option>
        </select>
        <span th:if="${#fields.hasErrors('type')}" th:errors="*{type}" class="error-messages">error!</span>
    </dd>
    
    <dd><label for="content" th:text="#{content.label}">内容x</label></dd>
    <dd>
        <textarea rows="" id="content" name="content" th:placeholder="#{content.placeholder}" th:field="*{content}" th:errorclass="error-input" ></textarea>
        <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="error-messages">error!</span>
    </dd>


    <dd th:text="#{pref.label}">都道府県x</dd>
    
    <dd><select id="pref" name="pref" th:field="*{pref}" th:errorclass="error-input" >
        <option value="">---</option>
        <option th:each="p : ${T(com.example.Constant).getInstance().getAreaMap(lang).entrySet()}"
                th:value="${p.key}" value="tokyo"
                th:text="${p.key}">東京都</option>
      </select>
      <span th:if="${#fields.hasErrors('pref')}" th:errors="*{pref}" class="error-messages">error!</span>
    </dd>
    <dd th:text="#{city.label}">市区町村x</dd>
    <dd><select id="city" name="city" th:field="*{city}" th:errorclass="error-input" >
        <option value="">---</option>
        <option th:each="c: ${cities}"
                th:value="${c}"
                th:text="${c}">サンプル市
        </option>
      </select>
      <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="error-messages">error!</span>
    </dd>

    <dd><input type="submit" name="confirm" th:value="#{confirm.button}"/></dd>
    </dl>
  </form>
</body>
</html>
